.scrollBar ::-webkit-scrollbar {
  /* width: 5px; */
  height: 10px;
}
.scrollBar ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 5px;
}
.scrollBar ::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-teal-500); 
  border-radius: 10px;
}
.scrollBar ::-webkit-scrollbar-thumb:hover {
  background: var(--chakra-colors-teal-600); 
}